<%- include("header") -%>
<section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                    		<h1> Admin Section</h1>
                    	<div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                            <div class="col-lg-6">
                            <%= typeof msg != 'undefined' ? msg: "" %>
                                <form id="contactForm"  action="/admin" enctype="multipart/form-data" method="post">
								  <label for="img">Select image:</label>
								  <input type="file" id="img" name="img" accept="image/*">
								  <input type="submit" value="Submit">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!--<img src="<%= typeof msg != 'undefined' ? image : "" %>" class="responsive-img">-->
</section>

<%- include("footer") -%>