<!-- Footer-->
        <footer class="bg-light py-5 foot">
                <a class="socialR" href=""><i class="fab fa-twitter"></i></a>
                <a class="socialR" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="socialR" href=""><i class="fab fa-instagram"></i></a>
                <a class="socialR" href=""><i class="fas fa-envelope"></i></a>
                <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Al Habib SmokeHouse</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
