<%- include("header") -%>
<!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">The SmokeHouse</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">" You've tried all the rest, Now try the BEST "</p>
                        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Parcel & Home Delivery Available</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">In the exploding food scene of Bhagalpur in the midst of Covid restrictions easing, it’s no surprise to run out of places to eat at. If you’re wondering which place to visit in Bhagalpur right now, there are many hidden gems. From whitewashed walls to angular designs with culturally inspired flavours and innovative food techniques, here are the best restaurants in Bhagalpur for every mood and appetite.</p>
                        <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Available Menu</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="fas fa-bread-slice text-primary"></i></div>
                            <h3 class="h4 mb-2">Biryani</h3>
                            <ul class="text-muted mb-0">
                            <li>Chicken Biryani</li>
                            <li>Mutton Biryani</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="fas fa-utensils text-primary"></i></div>
                            <h3 class="h4 mb-2">Haleem</h3>
                            <ul class="text-muted mb-0">
                            <li>Pulses Haleem</li>
                            <li>Fried Haleem</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="fas fa-stroopwafel text-primary"></i></div>
                            <h3 class="h4 mb-2">Kebabs</h3>
                            <ul class="text-muted mb-0">
                            <li>Chicken Kebab</li>
                            <li>Mutton Kebab</li>
                            <li>Muradabadi Kebab</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="fas fa-drumstick-bite text-primary"></i></div>
                            <h3 class="h4 mb-2">Tandoori</h3>
                            <ul class="text-muted mb-0">
                            <li>Tandoori chai</li>
                            <li>Tandoori chicken</li>
                            <li>Tandoori Roti</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                <% image.forEach(function(imageName){ %>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="assets/img/portfolio/fullsize/<%= typeof msg != 'undefined' ? image : imageName %>" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/thumbnails/<%= typeof msg != 'undefined' ? image : imageName %>" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Order online on Zomato and Swiggy!</h2>
                <a class="btn btn-light btn-xl" href="https://www.zomato.com/download">Download Now!</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Write a Review!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Resalabagh, Shahjangi,Mela Maidan, Near SBI ATM, Bhagalpur, Bihar- 813113, India !</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="contactForm"  action="/" method="post">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="Name" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" name="Email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" name="Phone" />
                                <label for="phone" >Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" name="Message"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl " id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+91 9199 303 786</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Map-->
        <div class="map" id="contact">
            <iframe src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=AL- HABIB THE SMOKEHOUSE, RESALABAG SHAHJANGI ROAD SHAHJANGI MELA MAIDAN, Habibpur, Bihar 813113&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            <br />
            <small><a href="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=AL- HABIB THE SMOKEHOUSE, RESALABAG SHAHJANGI ROAD SHAHJANGI MELA MAIDAN, Habibpur, Bihar 813113&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></a></small>
        </div>

<%- include("footer") -%>        